@using Api_Entregas.ViewModels
@using Newtonsoft.Json
@model SignInViewModel



<!DOCTYPE html>
<html lang="BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PedagoGisa</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon" asp-append-version="true" />

    <!-- CSS do Toastr -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

    <!-- jQuery (necessário para o Toastr) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- JavaScript do Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    @RenderSection("Styles", required: false)
</head>

<body>
    <img src="~/images/pedagogisa_logo1.png" class="formbold-form-logo">

    @{
        var userDataJson = Context.Session.GetString("UserData");
        Console.WriteLine(userDataJson);
        var user = !string.IsNullOrEmpty(userDataJson)
        ? JsonConvert.DeserializeObject<dynamic>(userDataJson)
        : null;
        var isLoggedIn = user != null && user.SignIn == true;
    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (isLoggedIn)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Dashboard"
                                    asp-action="Dashboard">Financeiro</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav flex-grow-1"></ul>
                    @if (!isLoggedIn)
                    {
                        <h3 class="navbar-brand">Desconectado!</h3>
                        <div class="navbar-nav justify-content-end">
                            <a class="btn btn-login d-block mx-2" asp-controller="Login" asp-action="Login">Login</a>
                        </div>
                    }
                    else
                    {
                        <div class="navbar-nav justify-content-end">
                            <a class="btn btn-login d-block mx-2" asp-controller="Login" asp-action="Logout">Logout</a>
                            <a class="btn btn-login d-block mx-2" asp-controller="User" asp-action="Perfil">Perfil</a>
                        </div>
                    }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer class="footer">
        <div class="container text-center">
            <img src="~/images/pedagogisa_sem_fundo.png" alt="Logo Rodapé" class="logo-bottom" />
            <div>&copy; 2025 - Api_Entregas - <a asp-controller="Home" asp-action="Privacy">Privacy</a></div>
            <script src="/_framework/aspnetcore-browser-refresh.js"></script>            
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
