@{
    ViewData["Title"] = "Dashboard de Cobranças";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>

    <footer>
        <p>&copy; 2025 - Api_Entregas</p>
    </footer>

</html>
