@using Api_Entregas.Models
@model SignInViewModel
@{
    ViewData["Title"] = "Sample Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Api_Entregas</title>
</head>
<body>
    <header>
        <h1>Olá <code>@Model.Name</code><br>
        <h1>de email: <code>@Model.Email</code><br>
        Bem Vindo a minha API de Entregas </h1>
    </header>
    <main>
        <p>This is a sample paragraph on the sample page.</p>
    </main>
    <footer>
        <p>&copy; 2025 - Api_Entregas</p>
    </footer>
</body>
</html>

