@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home Page";
    
}


<div class="text-center">
        
                    <h1>Bem-vindo @TempData["Sucesso"]</h1>        

    <p>A API pode ser acessada em <code>/api/usuarios</code>.</p>
</div>
